<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bellybutton Biodiversity</title>
  <!-- Import Bootstrap for styling -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron text-center">
          <h1>Belly Button Biodiversity Dashboard</h1>
          <i><p class = "lead">View belly button taxa for each study subject</p></i>
          <br>
          <h5>Test Subject ID No.:
            <!-- Make the currently selected value available using "onchange=...this.value" 
            and call optionChanged function in app.js whenevener there is a change -->
            <select id="selDataset" onchange="optionChanged(this.value)">
            <!-- Options loaded dynamically by app.js -->
            </select>
          </h5>
        </div> <!-- close jumbotron div -->
      </div> <!-- close column div -->
    </div> <!-- close row div -->
    <div class="row">
      <div class="col-md-3 col-md-offset-5">
        <!-- Demographic Info (metadata) -->
        <div class="panel panel-primary">
          <div class="panel-heading">
            <center><h3 class="panel-title">Demographic Info</h3></center>
          </div>
          <div id="sample-metadata" class="panel-body">
            <ul>
              <!-- Metadata is dynamically appended here by app.js -->
            </ul>
          </div>
        </div> <!-- Close panel -->
      </div> <!-- Close column -->
    </div> <!-- Close row -->

    <!-- Charts share row -->
    <div class="row">

      <!-- Bar chart column -->
      <div class="col-md-5">
        <div id="bar-chart">
          <!-- Bar chart goes here -->
        </div>
      </div>
      
      <!-- Bubble chart column -->
      <div class="col-md-7">
        <div id="bubble-chart">
          <!-- Bubble chart goes here -->
        </div>
      </div> <!-- Close column -->
    </div> <!-- Close row -->
  </div> <!-- Close container -->
  
  <!-- Import D3 and Plotly libraries -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Import Flask app and data file -->
  <script src="../data/data.js"></script>
  <script src="../static/js/app.js"></script>
</body>

</html>
